<!-- home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1><a href="/show_products">Show products</a></h1><br>
    <h1><a href="/create_product">Create product</a></h1><br>
    <h1><a href="/search_product">Search product</a></h1><br>
    <h1><a href="/delete_product">Delete product</a></h1><br>
    <h1><a href="/update_product">Update product</a></h1>
</body>
</html>
