<!-- update_prods.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Product</title>
</head>
<body>
    <h1>Update a Product</h1>
    <form action="/up/" method="post">
        <label>Old name:</label>
        <input type="text" name="old name" required><br><br>

        <label>New name:</label>
        <input type="text" name="new name"><br><br>

        <label>New description:</label>
        <input type="text" name="new description"><br><br>

        <label>New price:</label>
        <input type="number" name="new price"><br><br>

        <button type="submit">Update Product</button>
    </form>
</body>
</html>
